*,
*::before,
*::after {
  box-sizing: border-box;
}

/**************** RESET ****************/

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e8eaf5;
  height: 100vh;
  padding-top: 3.75rem;
}

/**************** LAYOUT ****************/

.hero-section {
  background-color: rgb(67, 67, 67);
  background-image: url(../image/red_squirrel.jpg);
  /* You can use an image, or use colour(Always add a background colour just incase the image doesn't want to load.). */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 2.4rem;
}

.hero-text {
  padding-bottom: 3em;
}

.hero-text h2,
.hero-text p {
  color: rgb(230, 230, 230);
}

.hero-text h2 {
  margin-top: 0;
  font-size: 2rem;
  /* letter-spacing: .075em; */
}

.separator {
  margin-left: 0;
  border: 1px solid rgb(224, 224, 224);
  width: 15%;
}

.hero-text p {
  font-size: 1.4rem;
  font-weight: 100;
}

/* Button */

.btn-container {
  padding-top: 1em;
}

.btn-container a {
  background-color: rgb(3, 186, 27);
  color: rgb(35, 36, 36);
  font-weight: 500;
  padding: 0.8rem 1.8rem;
  border-radius: 10px;
}

.btn-container a:hover {
  background-color: rgb(
    244,
    9,
    220
  ); /* Change to any colour you like, these colours are just for examples. */
  color: rgb(232, 234, 245);
  transition: 500ms ease-in-out;
}

.sub-container {
  display: flex;
  justify-content: center;
  padding: 2.4rem;
  border: 2px solid red;
}

.image-grid {
  flex-direction: column;
}

.image-grid img {
  padding-bottom: 1rem;
}
.info,
.info2 {
  padding: 2.4rem;
}

.info {
  background-color: rgb(200, 200, 200);
}

.info h3 p,
.info2 h3 p {
  color: rgb(43, 42, 42);
}

.info h3,
.info2 h3 {
  font-size: 1.4rem;
}

.footer {
  text-align: center;
  background-color: rgb(40, 40, 40);
  color: #e8eaf5;
  padding: 1.4rem;
}

small {
  font-weight: 100;
}

/**************** MEDIA QUERIES ***************/

@media screen and (min-width: 650px) {
  .sub-container{
   align-content: center;
  }
  
  .image-grid img {
    max-width: 30%;
  }

  .info2{
    display: flex;
    gap: 2rem;
  }
}
